<section class="pagination">
  <div class="container">
    <div>
      <h1>Paginación</h1>
      <p>
        El componente de paginación (<code>ds-pagination</code>) se utiliza para
        dividir el contenido en páginas y permitir a los usuarios navegar entre
        ellas. Este componente es altamente personalizable y soporta múltiples
        configuraciones para adaptarse a diferentes contextos de uso.
      </p>
    </div>

    <hr />

    <!-- Uso -->
    <div>
      <h2>Uso</h2>
      <p>Ejemplo de uso en HTML:</p>
      <pre><code>&lt;ds-pagination [totalItems]="100" [itemsPerPage]="10" [currentPage]="currentPage" (currentPageChange)="onPageChange($event)"&gt;&lt;/ds-pagination&gt;</code></pre>
    </div>

    <hr />

    <!-- Configuración -->
    <div>
      <h2>Configuración</h2>
      <p>
        El componente de paginación acepta las siguientes propiedades de entrada
        (<code>&#64;Input</code>):
      </p>
      <ul>
        <li>
          <strong>totalItems</strong> (<code>number</code>): El número total de
          elementos a paginar.
        </li>
        <li>
          <strong>itemsPerPage</strong> (<code>number</code>): El número de
          elementos por página.
        </li>
        <li>
          <strong>currentPage</strong> (<code>number</code>): La página actual.
        </li>
      </ul>
    </div>

    <hr />

    <!-- Ejemplos de Paginación -->
    <div>
      <h2>Ejemplos de Paginación</h2>
      <ds-pagination
        [totalItems]="100"
        [itemsPerPage]="10"
        [currentPage]="currentPage"
        (currentPageChange)="onPageChange($event)"
      ></ds-pagination>
    </div>

    <hr />

    <!-- Accesibilidad -->
    <div>
      <h2>Accesibilidad</h2>
      <p>
        El componente de paginación incluye soporte para accesibilidad mediante
        el uso de atributos <code>aria</code> y roles adecuados.
      </p>
    </div>

    <hr />

    <!-- Conclusión -->
    <div>
      <h2>Conclusión</h2>
      <p>
        El componente de paginación es una herramienta esencial para dividir el
        contenido en páginas y permitir a los usuarios navegar entre ellas. Con
        sus múltiples opciones de configuración y soporte para accesibilidad, es
        una adición valiosa para cualquier aplicación.
      </p>
    </div>
  </div>
</section>
