<section class="buttons">
  <div class="container">
    <!-- Ejemplos de Botones -->
    <div>
      <h2 id="buttons-examples-heading">Ejemplos de Botones</h2>

      <!-- Primary Buttons -->
      <div class="button-group">
        <h3>Primary Buttons</h3>
        <ds-button btnClass="btn-primary">Primary</ds-button>
        <ds-button btnClass="btn-primary" size="btn-sm"
          >Primary Small</ds-button
        >
        <ds-button btnClass="btn-primary" size="btn-lg"
          >Primary Large</ds-button
        >
        <ds-button btnClass="btn-primary" [block]="true"
          >Primary Block</ds-button
        >
        <ds-button btnClass="btn-primary" [outline]="true"
          >Primary Outline</ds-button
        >
        <ds-button btnClass="btn-primary" [disabled]="true"
          >Primary Disabled</ds-button
        >

        <h4>With Icon</h4>
        <ds-button [iconSvg]="iconSvg" btnClass="btn-primary"
          >Primary</ds-button
        >
      </div>
    </div>
  </div>
</section>
