@if (href) {
  <a
    #buttonElement
    [href]="href"
    [ngClass]="buttonClasses"
    [attr.aria-label]="ariaLabel"
    [attr.target]="target"
    role="button"
    >
    @if (iconSvg) {
      <span class="icon-param" #iconContainer></span>
    }
    <ng-content select="[content-anchor]"></ng-content>
  </a>
} @else {
  <button
    #buttonElement
    [type]="type"
    [ngClass]="buttonClasses"
    [disabled]="disabled"
    [attr.aria-label]="ariaLabel"
    >
    @if (iconSvg) {
      <span class="icon-param" #iconContainer></span>
    }
    <ng-content select="[content-button]"></ng-content>
  </button>
}
