@use "sass:color";
@use "../../styles/abstracts/functions" as *;
@use "../../styles/abstracts/mixins" as *;

// Mixin para tamaños de botones
@mixin button-size($size, $padding-x, $padding-y, $font-size) {
  &.btn-#{$size} {
    padding: get-spacing($padding-x) get-spacing($padding-y);
    font-size: get-font-size($font-size);
  }
}

@mixin apply-hover-darken($color, $amount: 15%) {
  &:hover {
    background-color: color.adjust(get-color($color...), $lightness: -$amount);
  }
}

.btn {
  text-decoration: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: #333;
  background-color: transparent;
  padding: get-spacing(xs) get-spacing(sm);
  font-size: get-font-size(sm);
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 9999px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075);
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  // Primary Button
  &.btn-primary {
    @include apply-theme-colors(
      (primary, default),
      (neutral, "dark-300"),
      (primary, default),
      (neutral, "dark-300")
    );
    @include apply-hover-darken((primary, default));
  }

  // Tertiary Button
  &.btn-tertiary {
    border-color: get-color(primary, default);
    @include apply-theme-colors(
      (utility, transparent),
      (neutral, "dark-300"),
      (utility, transparent),
      (utility, white)
    );
  }

  // Secondary Button
  &.btn-secondary {
    @include apply-theme-colors(
      (neutral, gray),
      (neutral, "dark-300"),
      (neutral, gray),
      (neutral, "dark-300")
    );
    @include apply-hover-darken((neutral, gray));
  }

  // Outline Secondary Button
  &.btn-outline-secondary {
    border-color: get-color(neutral, gray);
    @include apply-theme-colors(
      (utility, transparent),
      (neutral, "dark-300"),
      (utility, transparent),
      (utility, white)
    );
  }

  // Accent Button
  &.btn-accent {
    @include apply-theme-colors(
      (secondary, default),
      (neutral, "dark-300"),
      (secondary, default),
      (neutral, "dark-300")
    );
    @include apply-hover-darken((secondary, default));
  }

  // Outline Accent Button
  &.btn-outline-accent {
    border-color: get-color(secondary, default);
    @include apply-theme-colors(
      (utility, transparent),
      (neutral, "dark-300"),
      (utility, transparent),
      (utility, white)
    );
  }

  // Danger Button
  &.btn-danger {
    @include apply-theme-colors(
      (status, danger),
      (neutral, "dark-300"),
      (status, danger),
      (neutral, "dark-300")
    );
    @include apply-hover-darken((status, danger));
  }

  // Outline Danger Button
  &.btn-outline-danger {
    border-color: get-color(status, danger);
    @include apply-theme-colors(
      (utility, transparent),
      (neutral, "dark-300"),
      (utility, transparent),
      (utility, white)
    );
  }

  // Ghost Button
  &.btn-ghost {
    box-shadow: none;
    @include apply-theme-colors(
      (utility, transparent),
      (neutral, "dark-300"),
      (utility, transparent),
      (utility, white)
    );

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      @include apply-theme-colors(
        (neutral, light),
        (neutral, "dark-300"),
        (neutral, "gray-dark"),
        (utility, white)
      );
    }
  }

  // Block Button
  &.btn-block {
    display: block;
    width: 100%;
  }

  // Icon Button
  &.btn-icon {
    padding: 0 !important;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
  }

  // With Icons
  .icon-param {
    margin-right: get-spacing(xs);
    display: inline-flex;
    width: 1.5rem;
    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  // Button State
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // Button Sizes
  @include button-size(sm, xs, sm, sm);
  @include button-size(md, sm, md, base);
  @include button-size(lg, md, lg, lg);
}
