@use "../../styles/abstracts/mixins" as *;

$header-height: 70px;

header {
  position: fixed;
  width: 100%;
  height: $header-height;
  top: 0;
  z-index: 1;
  text-align: center;
  @include apply-color(color, neutral, "dark-300");
  @include apply-color(background-color, neutral, light);
}
