@use "../../styles/abstracts/mixins" as *;

$header-height: 70px;

:host {
  header {
    position: fixed;
    width: 100%;
    height: $header-height;
    top: 0;
    z-index: 998;
    text-align: center;
    @include apply-color(color, neutral, "dark-300");
    @include apply-color(background-color, neutral, light);

    .menu-toggle {
      cursor: pointer;
      padding: 10px;

      svg {
        width: 24px;
        height: 24px;
      }

      @include apply-media-breakpoint(lg) {
        display: none;
      }
    }
  }

  .mobile-sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    @include apply-color-opacity(background-color, 0.5, neutral, "gray-light");
    z-index: 999;

    @include apply-media-breakpoint(lg) {
      display: none;
    }
  }

  design-system-sidebar.mobile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    @include apply-color(background-color, neutral, "gray-light");
    z-index: 1000;
    transform: translateX(-100%);
    @include apply-transition(transform, 0.3s, ease-in-out);

    border-radius: 0 0.75rem 0.75rem 0;
    width: 80%;
    min-width: 200px;
    @include apply-box-shadow(
      0 2px 4px 0 rgba(0, 0, 0, 0.1),
      0 0 0 1px rgba(0, 0, 0, 0.1)
    );
    overflow: hidden;
    height: 100vh;

    .sidebar-header {
      height: 60px;
      padding: 0 20px;
      @include apply-flex-container(row, space-between, center);
      @include apply-box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.1));
      @include apply-color(color, neutral, "dark-300");
      @include apply-color(background-color, neutral, light);

      p.sidebar-title {
        @include apply-color(color, neutral, "dark-300");
        font-weight: 600;
        margin-bottom: 0;
      }

      .close-btn {
        background: none;
        border: none;
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    .sidebar-footer {
      height: 40px;
      @include apply-flex-container(row, center, center);
      @include apply-color(background-color, neutral, "dark-300");

      small {
        @include apply-color(color, utility, white);
        margin: 0;
      }
    }

    @include apply-media-breakpoint(lg) {
      display: none;
    }

    &.open {
      transform: translateX(0);
    }
  }
}
