@use "sass:color";
@use "sass:map";
@use "./styles/abstracts/functions" as *;
@use "./styles/abstracts/mixins" as *;
@use "./styles/abstracts/variables" as *;
@use "./shared/design-system-header/design-system-header.component" as header;

// $header-height: 70px;
// $footer-height: 70px;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-layout {
    width: 100%;
    margin: header.$header-height auto 0;
    aside {
      display: none;
      // background-color: red;
    }
    main {
      // background-color: blue;
    }
  }

  @include apply-media-breakpoint(md) {
    .main-layout {
      display: grid;
      grid-template-columns: 20% 80%;
      max-width: 1600px;
      // gap: 0.5%;
      // max-width: 1400px;
      /* Sidebar */
      aside {
        display: flex;
        position: -webkit-sticky;
        position: sticky;
        top: header.$header-height;
        height: calc(100vh - header.$header-height);
        overflow-y: auto;
        // background-color: yellow;
      }
      /* Main Content */
      main {
        // background-color: red;
        padding: 20px;
      }
    }
  }
}
