<div class="skeleton-card">
  @if (hasCardHeader) {
    <div class="card-header">
      <ng-content select="[card-header]"></ng-content>
    </div>
  }

  @if (hasCardImage) {
    <div class="card-image">
      <ng-content select="[card-image]"></ng-content>
    </div>
  }

  @if (hasCardTitle) {
    <div class="card-title">
      <ng-content select="[card-title]"></ng-content>
    </div>
  }

  @if (hasCardBody) {
    <div class="card-body">
      <ng-content select="[card-body]"></ng-content>
    </div>
  }

  @if (hasCardDescription) {
    <div class="card-description">
      <div></div>
      <div></div>
      <div></div>
    </div>
  }

  @if (hasCardPrice) {
    <div class="card-price">
      <ng-content select="[card-price]"></ng-content>
    </div>
  }

  @if (hasCardButton) {
    <div class="card-button">
      <ng-content select="[card-button]"></ng-content>
    </div>
  }

  @if (hasCardFooter) {
    <div class="card-footer">
      <ng-content select="[card-footer]"></ng-content>
    </div>
  }
</div>
