<div class="form-group">
  <label [attr.for]="id">{{ label }}</label>
  <div class="input-wrapper">
    <input
      type="text"
      [attr.id]="id"
      class="input-search-bar"
      #searchInput
      [ngClass]="{
        'dark-mode': themeService.theme() === 'dark',
        'light-mode': themeService.theme() === 'light',
        error: !!errorMessage,
      }"
      [placeholder]="placeholder"
      [formControl]="searchControl"
      [attr.aria-required]="ariaRequired"
      [attr.aria-invalid]="!!errorMessage"
      [attr.aria-describedby]="errorMessage ? 'error-msg' : null"
      autocomplete="off"
      (blur)="handleBlur()"
      (focus)="handleFocus()"
      />
      @if (showOptions && filteredOptions.length > 0) {
        <ul class="options-list">
          @for (option of filteredOptions; track option) {
            <li
              (mousedown)="selectOption(option)"
              >
              {{ option }}
            </li>
          }
        </ul>
      }
    </div>
    @if (errorMessage) {
      <div class="error-message" id="error-msg">
        {{ errorMessage }}
      </div>
    }
  </div>
