<div
  class="card"
  [ngClass]="themeService.theme()"
  role="region"
  [attr.aria-labelledby]="ariaLabelledby"
  [attr.aria-describedby]="ariaDescribedby"
  >
  @if (header) {
    <div class="card-header">{{ header }}</div>
  }
  @if (imageUrl) {
    <img
      [src]="imageUrl"
      class="card-img-top img-responsive"
      alt="Card image"
      role="img"
      />
  }
  <div class="card-body">
    @if (title) {
      <h5
        [ngClass]="titleClass"
        class="card-title"
        [attr.id]="'card-title-' + title"
        >
        {{ title }}
      </h5>
    }
    @if (body) {
      <p
        [ngClass]="bodyClass"
        class="card-text"
        [attr.id]="'card-body-' + body"
        >
        {{ body }}
      </p>
    }
    @if (description || price) {
      <div class="card-content">
        @if (description) {
          <p [ngClass]="descriptionClass" class="card-text">
            {{ description }}
          </p>
        }
        @if (price) {
          <p [ngClass]="priceClass" class="price">
            {{ price }} <span class="currency-symbol">€</span>
          </p>
        }
      </div>
    }

    <ng-content select="[card-body]"></ng-content>

    @if (buttonText && buttonUrl) {
      <ds-button
        [type]="'button'"
        [btnClass]="'btn-accent'"
        [ariaLabel]="buttonText"
        [href]="buttonUrl"
        [target]="buttonTarget"
        role="button"
        >
        <span content-anchor>{{ buttonText }}</span>
      </ds-button>
    }
  </div>
  @if (footer) {
    <div class="card-footer">{{ footer }}</div>
  }
</div>
