<section class="cards">
  <div class="container">
    <div>
      <h1>Cards</h1>
      <p>
        El componente de tarjeta (<code>ds-card</code>) es un contenedor
        flexible que permite mostrar contenido variado de manera organizada y
        atractiva. Este componente es altamente personalizable y soporta
        múltiples variantes para adaptarse a diferentes contextos de uso.
      </p>
    </div>

    <hr />

    <!-- Variantes de Tarjeta -->
    <div>
      <h2>Variantes de Tarjeta</h2>
      <p>
        El componente de tarjeta soporta varias variantes que se pueden aplicar
        mediante clases CSS. Las variantes disponibles son:
      </p>
      <ul>
        <li>
          <strong>Default</strong>: Tarjeta predeterminada utilizada para
          mostrar contenido general.
        </li>
        <li>
          <strong>Dark Mode</strong>: Tarjeta con esquema de colores oscuros
          para entornos de baja luminosidad.
        </li>
        <li>
          <strong>Light Mode</strong>: Tarjeta con esquema de colores claros
          para entornos de alta luminosidad.
        </li>
      </ul>
    </div>

    <hr />

    <!-- Uso -->
    <div>
      <h2>Uso</h2>
      <p>Ejemplo de uso en HTML:</p>
      <pre><code>&lt;ds-card&gt;
  &lt;img card-image src="https://ezhub.vercel.app/assets/img/bedrooms/1.jpg" alt="Sample Room" class="img-responsive" /&gt;
  &lt;h5 card-title&gt;Sample Room&lt;/h5&gt;
  &lt;p card-text&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/p&gt;
  &lt;p card-price&gt;100 &lt;span class="currency"&gt;€&lt;/span&gt;&lt;/p&gt;
  &lt;ds-button card-button btnClass="btn-secondary"&gt;See more&lt;/ds-button&gt;
&lt;/ds-card&gt;</code></pre>
    </div>

    <hr />

    <!-- Ejemplos de Tarjetas -->
    <div>
      <h2>Ejemplos de Tarjetas</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <ds-card>
            <img
              card-image
              src="https://ezhub.vercel.app/assets/img/bedrooms/1.jpg"
              alt="Sample Room"
              class="img-responsive"
            />
            <h5 card-title>Sample Room</h5>
            <p card-text>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tenetur,
              dolorum. Tempora distinctio sapiente voluptatem sunt nisi qui sit
              nesciunt vitae modi optio, autem possimus velit atque illo dolore
              perspiciatis, sequi, blanditiis repudiandae quis sed accusamus
              mollitia eveniet debitis ratione.
            </p>
            <p card-price>100 <span class="currency">€</span></p>
            <ds-button card-button btnClass="btn-secondary">See more</ds-button>
          </ds-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <ds-card>
            <img
              card-image
              src="https://ezhub.vercel.app/assets/img/bedrooms/2.jpg"
              alt="Sample Room 2"
              class="img-responsive"
            />
            <h5 card-title>Sample Room 2</h5>
            <p card-text>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est ipsam
              quam temporibus totam ex. Assumenda sapiente vitae facilis,
              consectetur dolores eius labore amet veniam ipsum incidunt
              voluptate porro ea dolorem?
            </p>
            <p card-price>150 <span class="currency">€</span></p>
            <ds-button card-button btnClass="btn-secondary">See more</ds-button>
          </ds-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <ds-card>
            <img
              card-image
              src="https://ezhub.vercel.app/assets/img/bedrooms/3.jpg"
              alt="Sample Room 3"
              class="img-responsive"
            />
            <h5 card-title>Sample Room 3</h5>
            <p card-text>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolorum
              soluta a aperiam architecto et voluptas? Maxime omnis veritatis
              vel velit natus, autem, facere ducimus voluptate est officiis
              aliquid incidunt doloremque quo quaerat, repudiandae cumque
              necessitatibus sapiente dolores.
            </p>
            <p card-price>200 <span class="currency">€</span></p>
            <ds-button card-button btnClass="btn-secondary">See more</ds-button>
          </ds-card>
        </div>
      </div>
    </div>
  </div>
</section>
